<div id="cc-header-menu" class="cc-header-menu">
	<a class="js-header-menu-title header-menu-title" href="">
		<i class="fa fa-bars icon-small"></i> {{ i18n.callcenter.headerMenu.mainBtnText }}
	</a>
	<ul class="js-header-menu-items cc-header-menu-list" style="display: none;">
		<li>
			<span class="header-menu-badge">
				<i class="fa fa-desktop icon-small"></i> {{ i18n.callcenter.headerMenu.dashboard }}
			</span>
		</li>
		<li>
			<a href="" class="js-open-cc-settings btn">
				<i class="fa fa-cog icon-small"></i> {{ i18n.callcenter.headerMenu.manageQueues }}
			</a>
		</li>
    </ul>
</div>
<div id="dashboard-content" class="clearfix page">
	<div id="dashboard-topbar">
		<div class="topbar-right">
		</div>
	</div>
	<div id="callwaiting-list" class="call-waiting-list nav nav-list"></div>
	<div class="dashboard-bottom-right">
		<div class="content">
			<div id="dashboard-view">
			</div>
		</div>
	</div>
</div>
