<div>
    {{#each waits}}
        <li title="{{status}}" class="call-waiting list-element" style="display: block;" data-call_id="{{call_id}}" data-queue_id="{{queue_id}}">
            <a href="#" data-module="activate" data-action="media">{{friendly_title}}</a>
            <span class="timer">{{friendly_duration}}</span>
        </li>
    {{/each}}
    {{#each progress}}
        <li title="{{status}}" class="call-waiting list-element" style="display: block;" data-call_id="{{call_id}}" data-queue_id="{{queue_id}}">
            <a href="#" data-module="activate" data-action="media">{{friendly_title}}</a>
            <span class="timer">{{friendly_duration}}</span>
        </li>
    {{/each}}
</div>
