<div class="cc-buttons-panel">
    <a href="" class="js-open-cc-dashboard btn">
        <i class="fa fa-cog icon-small"></i> Dashboard
    </a>
</div>
<div id="cc-settings" class="container-fluid">
    <div class="row-fluid">
        <div class="sidebar-list-panel span2 well">
            <h4 class="sidebar-list-panel__header">
                Queues
                <a href="" class="js-cc-create-queue btn btn-round">
                    <i class="fa fa-plus icon-small"></i>
                </a>
            </h4>

            <div id="queues-list-container"></div>
        </div>
        <div id="cc-settings-content" class="cc-settings-content span10">
            <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >Queue settings</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="https://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Agents</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>Bootstrap is a powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>