<div class="row-fluid">
	<div class="span4">
		<div class="agents-list-wrapper well-list">
			<h3>Selected</h3>
			<ul id="queue-agents-list">
				{{#each this.agents}}
					<li data-user-id="{{ id }}">
						<span class="item-name">{{ first_name }} {{ last_name }}</span>
						<a href="#" class="js-remove-agent remove-agent-btn">
							<i class="fa fa-remove"></i>
						</a>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="span8">
		<table id="queue-users-table" class="table table-condensed table-striped table-hover">
			<thead>
				<tr>
					<th class="no-sort">Actions</th>
					<th>User Name</th>
				</tr>
			</thead>
			<tbody>
			{{#each this.users}}
			<tr data-user-id="{{ id }}">
				<td class="actions-col">
					<a href="#" class="mini-btn js-add-agent add-agent-btn">
						<i class="fa fa-arrow-left"></i>
					</a>
					<a href="#" class="mini-btn js-edit-user edit-agent-btn">
						<i class="fa fa-pencil-square-o"></i>
					</a>
				</td>
				<td class="js-user-name">{{ first_name }} {{ last_name }}</td>
			</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
</div>
