<div id="cc-header-menu" class="cc-header-menu">
    <span class="js-header-menu-title">
        <i class="fa fa-bars icon-small"></i> Menu
    </span>
    <ul class="js-header-menu-items cc-header-menu-list" style="display: none;">
		<li>
            <span class="header-menu-badge">
                <i class="fa fa-desktop icon-small"></i> Dashboard
            </span>
		</li>
		<li>
			<a href="" class="js-open-cc-settings btn">
				<i class="fa fa-cog icon-small"></i> Manage Queues
			</a>
		</li>
    </ul>
</div>
<div id="dashboard-content" class="clearfix page">
    <div id="dashboard-topbar">
        <div class="topbar-right">
        </div>
    </div>
    <div id="callwaiting-list" class="sidebar list_panel"></div>
    <div class="dashboard-bottom-right">
        <div class="content">
            <div id="dashboard-view">
            </div>
        </div>
    </div>
</div>
